//IMPORTO ABSTRACTS
@import './abstracts/variables';

// CONFIGURACION INICIAL
* {
    box-sizing: border-box;
    color: nth($paletacolores , 7);
}
body{
    margin: 5px;
    margin-top: 15px
}

//IMPORTO COMPONENTES
@import './componentes/index';